# Data clean part 2
This part is the test for fix timestamp and map matching

In [94]:
import pandas as pd
import geopandas as gpd
import movingpandas as mpd

import os
import gpxpy
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
from gpx_handler import GPXHandler
from gdf_handler import GDFHandler
from utils import df_to_gdf
from utils import reprojection
import json
import requests
from sqlalchemy import create_engine
from shapely.geometry import Point
import overpy
from sqlalchemy import create_engine

from gpx_handler import GPXHandler
import matplotlib.pyplot as plt

from datetime import datetime, timedelta

## 2.1 Fix timestamp

In [52]:
gpx_path = '/Users/cecilia/Documents/pyprojects/gpx_processing/data/gpx_merged/12_GS037.gpx'

gpx_hdl = GPXHandler(gpx_path)
data = gpx_hdl.gpx_to_df()
data_gdf = df_to_gdf(data)

data_gdf

,time,latitude,longitude,elevation,speed_2d,speed_3d,geometry
0,2023-05-19 08:50:18.739000+00:00,51.464011,-0.272061,18.247,None,None,POINT (-0.27206 51.46401)
1,2023-05-19 08:50:18.794556+00:00,51.464012,-0.272064,19.495,None,None,POINT (-0.27206 51.46401)
2,2023-05-19 08:50:18.850112+00:00,51.464014,-0.272063,19.981,None,None,POINT (-0.27206 51.46401)
3,2023-05-19 08:50:18.905668+00:00,51.464014,-0.272062,19.107,None,None,POINT (-0.27206 51.46401)
4,2023-05-19 08:50:18.961224+00:00,51.464016,-0.272056,20.886,None,None,POINT (-0.27206 51.46402)
...,...,...,...,...,...,...,...
62805,2023-05-19 09:55:20.283452+00:00,51.507488,-0.021817,56.949,None,None,POINT (-0.02182 51.50749)
62806,2023-05-19 09:55:20.329000+00:00,51.507488,-0.021817,56.751,None,None,POINT (-0.02182 51.50749)
62807,2023-05-19 09:55:20.384556+00:00,51.507488,-0.021818,56.633,None,None,POINT (-0.02182 51.50749)
62808,2023-05-19 09:55:20.440112+00:00,51.507488,-0.021817,56.547,None,None,POINT (-0.02182 51.50749)
62809,2023-05-19 09:55:20.495668+00:00,51.507487,-0.021816,56.487,None,None,POINT (-0.02182 51.50749)

### 2.1.1 Error timestamp
remove the timestamps jump back

In [53]:
# calculate time intervals
def time_diff(data_gdf):
    # Calculate time differences in seconds
    data_gdf['time_diff'] = data_gdf['time'].diff().dt.total_seconds()
    data_gdf.fillna({'time_diff':0}, inplace=True)

    # Filter out rows with negative or zero time differences
    data_gdf = data_gdf[data_gdf['time_diff']>0]

    # Drop the time_diff column
    data_gdf1= data_gdf.drop(columns=['time_diff'])
    return data_gdf1

In [54]:

result1 = time_diff(data_gdf)
result1['time_diff'] = result1['time'].diff().dt.total_seconds()

# Identify whether there is a negative time difference in result
while (result1['time_diff'] <= 0).any():
    result1 = time_diff(result1)
    result1['time_diff'] = result1['time'].diff().dt.total_seconds()

result1

,time,latitude,longitude,elevation,speed_2d,speed_3d,geometry,time_diff
3,2023-05-19 08:50:18.905668+00:00,51.464014,-0.272062,19.107,None,None,POINT (-0.27206 51.46401),NaN
4,2023-05-19 08:50:18.961224+00:00,51.464016,-0.272056,20.886,None,None,POINT (-0.27206 51.46402),0.055556
5,2023-05-19 08:50:19.016780+00:00,51.464019,-0.272055,22.117,None,None,POINT (-0.27205 51.46402),0.055556
6,2023-05-19 08:50:19.072336+00:00,51.464023,-0.272053,22.376,None,None,POINT (-0.27205 51.46402),0.055556
7,2023-05-19 08:50:19.127892+00:00,51.464025,-0.272054,22.023,None,None,POINT (-0.27205 51.46402),0.055556
...,...,...,...,...,...,...,...,...
62805,2023-05-19 09:55:20.283452+00:00,51.507488,-0.021817,56.949,None,None,POINT (-0.02182 51.50749),0.055556
62806,2023-05-19 09:55:20.329000+00:00,51.507488,-0.021817,56.751,None,None,POINT (-0.02182 51.50749),0.045548
62807,2023-05-19 09:55:20.384556+00:00,51.507488,-0.021818,56.633,None,None,POINT (-0.02182 51.50749),0.055556
62808,2023-05-19 09:55:20.440112+00:00,51.507488,-0.021817,56.547,None,None,POINT (-0.02182 51.50749),0.055556
62809,2023-05-19 09:55:20.495668+00:00,51.507487,-0.021816,56.487,None,None,POINT (-0.02182 51.50749),0.055556

### 2.1.2 Split the trajectory
Identify the jumps larger than 60 seconds

In [55]:
# identify the jumps
result1.fillna({'time_diff':0}, inplace=True)
# extract the rows with time_diff > 60s
jumps = result1[result1['time_diff'] > 30]
jumps

,time,latitude,longitude,elevation,speed_2d,speed_3d,geometry,time_diff
48610,2023-05-19 09:36:59.284000+00:00,51.535250,-0.030915,-270.106,None,None,POINT (-0.03091 51.53525),41.408884
48744,2023-05-19 09:42:08.771668+00:00,51.509954,-0.075023,20.160,None,None,POINT (-0.07502 51.50995),299.365556

In [56]:
# check the time difference
# result1['time_diff'].max()

299.365556

In [86]:
# Split trips into trajectories at breaks longer than 60 seconds (same with the OSRM API)
# assign gpx file name to trajectory_id
result1['trajectory_id'] = '12_GS036'
tc = mpd.TrajectoryCollection(result1, 'trajectory_id', t = 'time')
split = mpd.ObservationGapSplitter(tc).split(gap=timedelta(seconds=60))

/opt/homebrew/Caskroom/miniforge/base/envs/gpx_310/lib/python3.10/site-packages/movingpandas/trajectory.py:138: TimeZoneWarning: Time zone information dropped from trajectory. All dates and times will use local time. This is applied by doing df.tz_localize(None). To use UTC or a different time zone, convert and drop time zone information prior to trajectory creation.
  warnings.warn(

In [87]:
split.to_point_gdf()

,latitude,longitude,elevation,speed_2d,speed_3d,geometry,time_diff,trajectory_id
time,,,,,,,,
2023-05-19 08:50:18.905668,51.464014,-0.272062,19.107,None,None,POINT (-0.27206 51.46401),0.000000,12_GS036_0
2023-05-19 08:50:18.961224,51.464016,-0.272056,20.886,None,None,POINT (-0.27206 51.46402),0.055556,12_GS036_0
2023-05-19 08:50:19.016780,51.464019,-0.272055,22.117,None,None,POINT (-0.27205 51.46402),0.055556,12_GS036_0
2023-05-19 08:50:19.072336,51.464023,-0.272053,22.376,None,None,POINT (-0.27205 51.46402),0.055556,12_GS036_0
2023-05-19 08:50:19.127892,51.464025,-0.272054,22.023,None,None,POINT (-0.27205 51.46402),0.055556,12_GS036_0
...,...,...,...,...,...,...,...,...
2023-05-19 09:55:20.283452,51.507488,-0.021817,56.949,None,None,POINT (-0.02182 51.50749),0.055556,12_GS036_1
2023-05-19 09:55:20.329000,51.507488,-0.021817,56.751,None,None,POINT (-0.02182 51.50749),0.045548,12_GS036_1
2023-05-19 09:55:20.384556,51.507488,-0.021818,56.633,None,None,POINT (-0.02182 51.50749),0.055556,12_GS036_1
2023-05-19 09:55:20.440112,51.507488,-0.021817,56.547,None,None,POINT (-0.02182 51.50749),0.055556,12_GS036_1
2023-05-19 09:55:20.495668,51.507487,-0.021816,56.487,None,None,POINT (-0.02182 51.50749),0.055556,12_GS036_1

In [114]:
# resample the gpx file to 1 second
def resample_gpx(data, resample_rate = '1s'):
    data.set_index(data.time, inplace=True, drop=True)
    # smooth_lat = data.latitude
    smooth_lat = data['lat']
    smooth_lon = data['lon']
    smooth_ele = data['ele']
    # smooth_lon = data.longitude
    # smooth_ele = data.elevation
    
    traj_id = data['trajectory_id'].iloc[0]   # add when using moving pandas

    smooth_lat = smooth_lat.resample(resample_rate).nearest()
    smooth_lon = smooth_lon.resample(resample_rate).nearest()
    smooth_ele = smooth_ele.resample(resample_rate).nearest()    

    geometry = [Point(lon, lat) for lat, lon in zip(smooth_lat.values, smooth_lon.values)]
    gdf = gpd.GeoDataFrame({
        'time':smooth_lat.index,
        'lat': smooth_lat.values,
        'lon': smooth_lon.values,
        'ele': smooth_ele.values,
        # add when using movingpandas
        'trajectory_id': traj_id},
        geometry = geometry,
        crs = 4326
    )
    return gdf

In [108]:
engine = create_engine('postgresql://postgres:xxxxxx@localhost:xxxxx/database_name')
table_name = 'resampling_traj'

In [116]:

for traj in split.trajectories:
    traj.df = resample_gpx(traj.df)
    traj.df.to_postgis(table_name, engine, if_exists='append')

In [107]:
traj.df

,time,lat,lon,ele,trajectory_id,geometry
0,2023-05-19 09:42:08,51.509954,-0.075023,20.160,12_GS036_1,POINT (-0.07502 51.50995)
1,2023-05-19 09:42:09,51.509953,-0.075023,20.120,12_GS036_1,POINT (-0.07502 51.50995)
2,2023-05-19 09:42:10,51.509954,-0.075026,19.704,12_GS036_1,POINT (-0.07503 51.50995)
3,2023-05-19 09:42:11,51.509958,-0.075030,19.106,12_GS036_1,POINT (-0.07503 51.50996)
4,2023-05-19 09:42:12,51.509961,-0.075032,17.881,12_GS036_1,POINT (-0.07503 51.50996)
...,...,...,...,...,...,...
788,2023-05-19 09:55:16,51.507485,-0.021823,62.629,12_GS036_1,POINT (-0.02182 51.50749)
789,2023-05-19 09:55:17,51.507485,-0.021818,62.795,12_GS036_1,POINT (-0.02182 51.50749)
790,2023-05-19 09:55:18,51.507493,-0.021820,63.492,12_GS036_1,POINT (-0.02182 51.50749)
791,2023-05-19 09:55:19,51.507495,-0.021820,63.307,12_GS036_1,POINT (-0.02182 51.50750)
792,2023-05-19 09:55:20,51.507489,-0.021819,58.031,12_GS036_1,POINT (-0.02182 51.50749)

In [117]:
traj.df['trajectory_id'].iloc[0]

'12_GS036_1'

In [91]:
traj_0 = split.trajectories[0].to_point_gdf()
traj_1 = split.trajectories[1].to_point_gdf()
traj_1

,latitude,longitude,elevation,speed_2d,speed_3d,geometry,time_diff,trajectory_id
time,,,,,,,,
2023-05-19 09:42:08.771668,51.509954,-0.075023,20.160,None,None,POINT (-0.07502 51.50995),299.365556,12_GS036_1
2023-05-19 09:42:08.827224,51.509953,-0.075023,20.156,None,None,POINT (-0.07502 51.50995),0.055556,12_GS036_1
2023-05-19 09:42:08.882780,51.509953,-0.075023,20.160,None,None,POINT (-0.07502 51.50995),0.055556,12_GS036_1
2023-05-19 09:42:08.938336,51.509953,-0.075023,20.130,None,None,POINT (-0.07502 51.50995),0.055556,12_GS036_1
2023-05-19 09:42:08.993892,51.509953,-0.075023,20.120,None,None,POINT (-0.07502 51.50995),0.055556,12_GS036_1
...,...,...,...,...,...,...,...,...
2023-05-19 09:55:20.283452,51.507488,-0.021817,56.949,None,None,POINT (-0.02182 51.50749),0.055556,12_GS036_1
2023-05-19 09:55:20.329000,51.507488,-0.021817,56.751,None,None,POINT (-0.02182 51.50749),0.045548,12_GS036_1
2023-05-19 09:55:20.384556,51.507488,-0.021818,56.633,None,None,POINT (-0.02182 51.50749),0.055556,12_GS036_1
2023-05-19 09:55:20.440112,51.507488,-0.021817,56.547,None,None,POINT (-0.02182 51.50749),0.055556,12_GS036_1
2023-05-19 09:55:20.495668,51.507487,-0.021816,56.487,None,None,POINT (-0.02182 51.50749),0.055556,12_GS036_1

### 2.1.3 Resampling the data

In [90]:
traj_0_rs = resample_gpx(traj_0)
traj_0_rs

,time,lat,lon,ele,trajectory_id,geometry
0,2023-05-19 08:50:18,51.464014,-0.272062,19.107,12_GS036_0,POINT (-0.27206 51.46401)
1,2023-05-19 08:50:19,51.464019,-0.272055,22.117,12_GS036_0,POINT (-0.27205 51.46402)
2,2023-05-19 08:50:20,51.464034,-0.272082,21.225,12_GS036_0,POINT (-0.27208 51.46403)
3,2023-05-19 08:50:21,51.464069,-0.272082,23.757,12_GS036_0,POINT (-0.27208 51.46407)
4,2023-05-19 08:50:22,51.464105,-0.272085,23.756,12_GS036_0,POINT (-0.27208 51.46410)
...,...,...,...,...,...,...
2807,2023-05-19 09:37:05,51.535250,-0.030915,-270.106,12_GS036_0,POINT (-0.03091 51.53525)
2808,2023-05-19 09:37:06,51.535250,-0.030915,-270.106,12_GS036_0,POINT (-0.03091 51.53525)
2809,2023-05-19 09:37:07,51.535250,-0.030915,-270.106,12_GS036_0,POINT (-0.03091 51.53525)
2810,2023-05-19 09:37:08,51.535250,-0.030915,-270.106,12_GS036_0,POINT (-0.03091 51.53525)
2811,2023-05-19 09:37:09,51.535250,-0.030915,-270.106,12_GS036_0,POINT (-0.03091 51.53525)

In [92]:
traj_1_rs = resample_gpx(traj_1)
traj_1_rs

,time,lat,lon,ele,trajectory_id,geometry
0,2023-05-19 09:42:08,51.509954,-0.075023,20.160,12_GS036_1,POINT (-0.07502 51.50995)
1,2023-05-19 09:42:09,51.509953,-0.075023,20.120,12_GS036_1,POINT (-0.07502 51.50995)
2,2023-05-19 09:42:10,51.509954,-0.075026,19.704,12_GS036_1,POINT (-0.07503 51.50995)
3,2023-05-19 09:42:11,51.509958,-0.075030,19.106,12_GS036_1,POINT (-0.07503 51.50996)
4,2023-05-19 09:42:12,51.509961,-0.075032,17.881,12_GS036_1,POINT (-0.07503 51.50996)
...,...,...,...,...,...,...
788,2023-05-19 09:55:16,51.507485,-0.021823,62.629,12_GS036_1,POINT (-0.02182 51.50749)
789,2023-05-19 09:55:17,51.507485,-0.021818,62.795,12_GS036_1,POINT (-0.02182 51.50749)
790,2023-05-19 09:55:18,51.507493,-0.021820,63.492,12_GS036_1,POINT (-0.02182 51.50749)
791,2023-05-19 09:55:19,51.507495,-0.021820,63.307,12_GS036_1,POINT (-0.02182 51.50750)
792,2023-05-19 09:55:20,51.507489,-0.021819,58.031,12_GS036_1,POINT (-0.02182 51.50749)

### 2.1.4 Save data to database

In [100]:
engine = create_engine('postgresql://postgres:wmh123456@localhost:5433/test_0420')
table_name = 'resampling_traj'
traj_1_rs.to_postgis(table_name, engine, if_exists='append')

## 2.2 Map matching

In [102]:
# map matching
def match(points, tolerance):
    """
    Function wrapping OSRM 'match' function, returning the response in JSON

    Parameters
    ----------
    points : list of tuple/list of point
        A sequence of points as (x ,y) where x is longitude and y is latitude.

    tolerance : 

    Returns
    -------
    dict???
        The response from the OSRM instance, parsed as a dict
    """

    service = 'http://127.0.0.1:8800'  # Need to revise based on the setting, Assuming the OSRM service is running locally
    service_url = '/match/v1/biking/'

    # service = 'http://127.0.0.1:6666'
    # service_url = '/match/v1/driving/'

    # service = 'http://127.0.0.1:5050'  # Need to revise based on the setting, Assuming the OSRM service is running locally
    # service_url = '/match/v1/walking/'
    
    radius = ['{}'.format(tolerance)]
    radius_str = ';'.join(radius*len(points))
    coordinate_str = ';'.join([','.join(map(str, coord)) for coord in points])

    payload = {'geometries': 'geojson', 'steps': 'false', 'radiuses': radius_str, 'annotations': 'nodes'}


    request_url = service + service_url + coordinate_str
    
   
    r = requests.get(request_url, params=payload)
    
    return r.json()

In [105]:
points = [(point.x, point.y) for point in traj_0_rs.geometry]
re = match(points, 10)   # tolerance = 5 meters, according to the OSRM API

json_folder = '/Users/cecilia/Documents/pyprojects/gpx_workflow/data/'
json_filename = '12_GS036_0.json'

json_path = os.path.join(json_folder, json_filename)
with open(json_path, "w") as f:
    json.dump(re, f)